<!DOCTYPE html>
<html lang ="en">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel = "stylesheet" href = "./styles.css">
    <link rel = "stylesheet" href = "./bootstrap.min.css">
  </head>

  <nav class=" row container-fluid">
    <span><a href="/">Home</a></span>
    <span><a href ="/about">About</a></span>
    <span><a href ="/colors">Colors</a></span>
    <span><a href ="/random">Random</a></span>
  </nav>

  <body>
    <br>
    <br>
    <h1>GRADIENTS</h1>
    <%- body -%>
    <footer>
      Made with &hearts; at Ironhack.
      Copyright Dianelis & Sherwino©2017
      <a href = "/"> ...this is the way back home</a>
    </footer>

  </body>
</html>
