<!DOCTYPE html>
<html lang ="en">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel = "stylesheet" href = "./styles.css">
  </head>
  <body>
    <nav>
      <span><a href="/">Home</a></span>
      <span><a href ="/about">About</a></span>
      <span><a href ="/colors">Colors</a></span>
      <!-- <span><a href ="/cities">List of Cities</a></span>
      <span><a href ="/food">Food for Today</a></span> -->
    </nav>
    <br>
    <br>
    <h1>GRADIENTS</h1>
    <%- body -%>
    <footer>
      Made with &hearts; at Ironhack.
      Copyright Sherwino ©2017
      <a href = "/">Way back home...</a>
    </footer>

  </body>
</html>
