<h2>Yellow</h2>

<div class= "colorNav">
  <span><a href = "/pink" class="btn btn-default">Pink</a></span>
  <span><a href = "/blue" class="btn btn-primary">Blue</a></span>
  <span><a href = "/Yellow" class="btn btn-warning">Yellow</a></span>
  <br>
  <br>
</div>

<section class="colors">

<ul class ="row">
  <% colors.forEach((singleColor) => { %>
    <% if (singleColor.category == "yellow") { %>
      <% currentColor = singleColor %>
    <div class = "colorBox col-sm-6">
    <li>
      <div class = "innerBox" style=" background-color: <%= currentColor.hex %> "></div>
      <div class ="colorName"><%= currentColor.keyword %></div>
      <div class ="colorHex"> Hex: <%= currentColor.hex %></div>
    </li>
      <% } %>
    </div>

    <% }); %>
  </ul>

</section>
